footer {
    position: fixed;
    background: white;
    width: 100%;
    padding:15px 0;
bottom:-10px;
    border-top: 1px solid #CCCCCC;
}

footer .myfoot {
    text-align: center;
    color: #FF5757;
}