header {
    background: white;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 50px;
}
header .logo {
    text-align: center;
    padding-top:12px;
}

@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');

header .logo p{
    font-family: 'Satisfy', cursive;
    margin-top: -10px;
    font-size: 300%;
    color: #FF5757;
}
div#notfound {
    text-align: center;
}

div .welcome {
    text-align: center;
    color: #737474;
}

.bg-custom-1 {
    background-color: #85144b;
  }
  
  .bg-custom-2 {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  }