header {
  background: white;
  height: 80px;
  width: 100%;
  margin-bottom: 50px;
}
@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');


header .logo p{
  font-family: 'Satisfy', cursive;
  margin-top: -10px;
  font-size: 300%;
  color: #FF5757;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
margin: 0;
padding: 0;
font-family: 'Poppins', sans-serif;
}
/* custom scroll bar */
::-webkit-scrollbar {
  background: #f1f1f1;
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.content{
max-width: 1250px;
margin: auto;
padding: 0 30px;
}
.navbar{
position: fixed;
background: white;
width: 100%;
z-index: 2;
padding: 25px 0;
transition: all 0.3s ease;
}
.navbar.sticky{
background: #1b1b1b;
padding: 10px 0;
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
display: flex;
align-items: center;
justify-content: space-between;
}
.navbar .logo a{
color: #FF5757;
font-size: 30px;
font-weight: 600;
text-decoration: none;
}
.navbar .menu-list{
display: inline-flex;
}
.menu-list li{
list-style: none;
}
.menu-list li a{
color: #FF5757;
font-size: 18px;
font-weight: 500;
margin-left: 25px;
text-decoration: none;
transition: all 0.3s ease;
}
.menu-list li a:hover{
color: #007bff;
}
.banner{
background: url("banner.jpg") no-repeat;
height: 100vh;
background-size: cover;
background-position: center;
background-attachment: fixed;
}
.about{
padding: 30px 0;
}
.about .title{
font-size: 38px;
font-weight: 700;
}
.about p{
padding-top: 20px;
text-align: justify;
}
.icon{
color: #fff;
font-size: 20px;
cursor: pointer;
display: none;
}
.menu-list .cancel-btn{
position: absolute;
right: 30px;
top: 20px;
}
@media (max-width: 1230px) {
.content{
  padding: 0 60px;
}
}
@media (max-width: 1100px) {
.content{
  padding: 0 40px;
}
}
@media (max-width: 900px) {
.content{
  padding: 0 30px;
}
}
@media (max-width: 868px) {
body.disabled{
  overflow: hidden;
}
.icon{
  display: block;
}
.icon.hide{
  display: none;
}
.navbar .menu-list{
  position: fixed;
  height: 100vh;
  width: 100%;
  max-width: 400px;
  left: -100%;
  top: 0px;
  display: block;
  padding: 40px 0;
  text-align: center;
  background: #222;
  transition: all 0.3s ease;
}
.navbar.show .menu-list{
  left: 0%;
}
.navbar .menu-list li{
  margin-top: 45px;
}
.navbar .menu-list li a{
  font-size: 23px;
  margin-left: -100%;
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navbar.show .menu-list li a{
  margin-left: 0px;
}
}
.navbar input[type=text] {

  font-size: 17px;
  background-color: #f8f8f8e8;
  border-radius: 4px;
  padding: 6px;
  border: none;
}
.myform {
  border: none;
  margin-top: relative;
  margin-right: 200px;
}

@media (max-width: 380px) {
.navbar .logo a{
  font-size: 27px;
}
}
body  {
  display: flex;
  flex-direction: column;
  background-color: #EDEEF0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
height: auto;
}


.container {
width: 50%;
height: 150px;
margin-bottom: 30px;
margin-left: auto;
margin-right: auto;
background-color: white;
border-radius: 4px;
}

.container .avat {
position: absolute;
padding: 20px;
border-radius: 40px;
width:  10px;
height:  10px;
}
.container .imageprofile {
position: absolute;
border-radius: 40px;
display: block;
margin-left: 10px;
width:  90px;
height:  100px;
box-shadow: 0px 3px 10px rgba(0,0,0,.25);

}
.userfullname {
position: relative;
margin-left: 150px;
padding: 20px;
border-radius: 40px;
}
.container .follow-button {
color: #FF5757;
position:absolute;
right: 400px;
font-family: "Helvetica";
font-size: 10pt;
background-color: #ffffff;
border: 1px solid;
border-color: #FF5757;
border-radius: 3px;
width: 85px;
height: 30px;
cursor: hand;		    
}