.profileinfo {
    background-color: #F0FFFF;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 120px;
    box-shadow: 0px 15px 10px -15px #111;
}

.profileinfo .myimage {
    border-radius: 50%;
    width: 100%;
    max-width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.profileinfo h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-color: #3E2E2B;
    font-size: 30px;
    text-align: center;
}

.smico {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0px 3px 10px rgba(0,0,0,.15);
}

.acounts {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.acounts img {
    margin-left: 5px;
    margin-right: 5px;
}


.mypost {
    display: block;
    border: 2px solid #BEAFAD;
    border-radius: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    margin-top: -30px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    background-color: #F0FFFF;
}

.postsource {
    margin-left: -30px;
    margin-right: -30px;
    height: 40px;
    margin-bottom: 20px;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
}

#fromfb {
    background-color: #1778F2;
}

#fromig {
    background: rgb(131,58,180);
    background: radial-gradient(circle, rgba(131,58,180,1) 1%, rgba(253,29,29,1) 41%, rgba(252,176,69,1) 100%);
}

.postsource img {
    margin-left: 3%;
    margin-top: 5px;
}

.creatorinfo {
    padding-top: 5px;
    padding-left: 2%;
    display: flex;
    align-items:center;
}

.creatorinfo img {
    border-radius: 50%;
    width: 100%;
    max-width: 50px;
    box-shadow: 0px 3px 10px rgba(0,0,0,.10);
}


.creatorinfo .name {
    margin-left: 2%;
    margin-top: -10px;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.name h2{
    font-family: 'Hind', sans-serif;
    font-size: 15px;
    padding-top: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

.name h4{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 7px;
    margin-top: -10px;
    color: #9D9D9D;
}

.delpost {
    border-style: none;
    background: none;
    position: absolute;
    right: 20%;
    font-size: 20px;
}

.delpost:hover{
    background-color: #fff3f1;
    box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.01);
    opacity: 0.7;
    border-radius: 50px;
}

.postimage {
    width: 100%;
    margin-top: 10px;
}

.mytext {
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0,0,0,.10);
    height: 100px;
    width: 98%;
    margin-top:20px;
    padding-left: 2%
}

.subbtn {
    background: #ff5a5f;
    color: #ffffff;
    border-radius: 5px;
    border-style: none;
    font-size: 12px;
    width: 10%;
    height: 3em;
    position: absolute;
    right: 15%;
    margin-top: 10px;
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}

.subbtn:hover {
    opacity: 0.9;
    box-shadow: 0px 3px 10px rgba(0,0,0,.35);
}

.myimport{
    margin-top: 10px;
}

