header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
body{
  margin: 0px !important;
  padding-top: 130px;
}
.header-helper {
    background: #e4e4e4;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.profileinfo {
    background-color: #F0FFFF;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 120px;
    box-shadow: 0px 15px 10px -15px #111;
}

.profileinfo .myimage {
    border-radius: 50%;
    width: 100%;
    max-width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.profileinfo h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-color: #3E2E2B;
    font-size: 30px;
    text-align: center;
}

.followbtn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #FF5757;
    background-color: #ffffff;
    border: 1px solid;
    border-radius: 10px;
    font-size: 17pt;
    border-color: #FF5757;
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    margin-top: 20px;
    padding: 10px;
}

.followbtn:hover {
    background-color: #f5f0f0;
    box-shadow: 0px 3px 10px rgba(0,0,0,.45);
    cursor: pointer;
    margin-top: 22px;
    margin-bottom: -2px;
}

.followbtn:focus {
    outline:0;
}

.followbtn p {
    border-top: 1px solid;
    border-color: #FF5757;
    color: black;
    font-size: 12pt;
    font-weight: bold;
    white-space: nowrap;
    margin-top: 5px;
    margin-bottom: -5px;
    padding-top: 10px;
}

.smico {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0px 3px 10px rgba(0,0,0,.15);
}

.acounts {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.acounts img {
    margin-left: 5px;
    margin-right: 5px;
}


.mypost {
    display: block;
    border: 2px solid #BEAFAD;
    border-radius: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    margin-top: -30px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    background-color: #F0FFFF;
}

.postsource {
    margin-left: -30px;
    margin-right: -30px;
    height: 40px;
    margin-bottom: 20px;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
}

#fromfb {
    background-color: #1778F2;
}

#fromcm {
    background-color: #ff5a5f;
}

#fromig {
    background: rgb(131,58,180);
    background: radial-gradient(circle, rgba(131,58,180,1) 1%, rgba(253,29,29,1) 41%, rgba(252,176,69,1) 100%);
}

.postsource img {
    margin-left: 3%;
    margin-top: 5px;
}

.creatorinfo {
    padding-top: 5px;
    padding-left: 2%;
    display: flex;
    align-items:center;
}

.creatorinfo img {
    border-radius: 50%;
    width: 100%;
    max-width: 50px;
    box-shadow: 0px 3px 10px rgba(0,0,0,.10);
}


.creatorinfo .name {
    margin-left: 2%;
    margin-top: -10px;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.name h2{
    font-family: 'Hind', sans-serif;
    font-size: 15px;
    padding-top: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

.name h4{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 7px;
    margin-top: -10px;
    color: #9D9D9D;
}

.delpost {
    border-style: none;
    background: none;
    position: absolute;
    right: 20%;
    font-size: 20px;
}

.delpost:hover{
    background-color: #fff3f1;
    box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.01);
    opacity: 0.7;
    border-radius: 50px;
}

.postimage {
    width: 100%;
    margin-top: 10px;
}

.mytext {
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0,0,0,.10);
    height: 100px;
    width: 98%;
    margin-top:20px;
    padding-left: 2%
}

.subbtn {
    background: #ff5a5f;
    color: #ffffff;
    border-radius: 5px;
    border-style: none;
    font-size: 12px;
    width: 10%;
    height: 3em;
    position: absolute;
    right: 15%;
    margin-top: 10px;
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}

.subbtn:hover {
    opacity: 0.9;
    box-shadow: 0px 3px 10px rgba(0,0,0,.35);
}

.myimport{
    margin-top: 10px;
}

.loadmore button{
    margin-top: -40px;
    margin-bottom: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 30%;
    font-size: 20px;
    border-radius: 25px;
    border: none;
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    background-color: #ff5a5f;
    color: #fff
}

.loadmore button:focus {
    outline:0;
}

.loadmore button:hover {
    background-color: #f5f0f0;
    box-shadow: 0px 3px 10px rgba(0,0,0,.45);
    cursor: pointer;
    color: #ff5a5f;
}

.changephoto {
    margin-top: -30px;
    width:25px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.3;
    box-shadow: 0px 3px 10px rgba(0,0,0,.15);
}

.changephoto:hover {
    cursor: pointer;
    opacity: 0.6;
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}

.rect1{
    display: inline-block;
}

.like{
    margin-top:10px;
}

.heart {
  border: none;
  width:40px;
  height:40px;
  background:
   radial-gradient(circle at 60% 65%, #EBE4E3 64%, transparent 65%) top left,
   radial-gradient(circle at 40% 65%, #EBE4E3 64%, transparent 65%) top right,
   linear-gradient(to bottom left, #EBE4E3 43%,transparent 43%) bottom left ,
   linear-gradient(to bottom right,#EBE4E3 43%,transparent 43%) bottom right;
  background-size:50% 50%;
  background-repeat:no-repeat;
  display:inline-block;
}
.heart::before {
  content:"";
  display:block;
  padding-top:100%;
}

.heart:hover {
  background:
   radial-gradient(circle at 60% 65%, #FF9786 64%, transparent 65%) top left,
   radial-gradient(circle at 40% 65%, #FF9786 64%, transparent 65%) top right,
   linear-gradient(to bottom left, #FF9786 43%,transparent 43%) bottom left ,
   linear-gradient(to bottom right,#FF9786 43%,transparent 43%) bottom right;
  background-size:50% 50%;
  background-repeat:no-repeat;
  display:inline-block;
  cursor: pointer;
}

.heart:focus {
    outline:0;
}


.likedheart {
  border: none;
  width:40px;
  height:40px;
  background:
   radial-gradient(circle at 60% 65%, #FF5757 64%, transparent 65%) top left,
   radial-gradient(circle at 40% 65%, #FF5757 64%, transparent 65%) top right,
   linear-gradient(to bottom left, #FF5757 43%,transparent 43%) bottom left ,
   linear-gradient(to bottom right,#FF5757 43%,transparent 43%) bottom right;
  background-size:50% 50%;
  background-repeat:no-repeat;
  display:inline-block;
}
.likedheart::before {
  content:"";
  display:block;
  padding-top:100%;
}

.likedheart:hover {
  background:
   radial-gradient(circle at 60% 65%, #FF8585 64%, transparent 65%) top left,
   radial-gradient(circle at 40% 65%, #FF8585 64%, transparent 65%) top right,
   linear-gradient(to bottom left, #FF8585 43%,transparent 43%) bottom left ,
   linear-gradient(to bottom right,#FF8585 43%,transparent 43%) bottom right;
  background-size:50% 50%;
  background-repeat:no-repeat;
  display:inline-block;
  cursor: pointer;
}

.likedheart:focus {
    outline:0;
}

.liked h1 {
    height: 10px;
    color: #FF5757;
    font-size: 20px;
    padding-bottom:10px;
}

