<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <title>Profile</title>
     <link rel="stylesheet" type="text/css" href="../static/styles/profile_header.css?{{cache_id}}">
     <link rel="stylesheet" type="text/css" href="../static/styles/profile_body.css?{{cache_id}}">
     <link rel="stylesheet" type="text/css" href="../static/styles/footer.css?{{ cache_id }}">
     <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
     <script type="text/javascript" src="../static/scripts/load_more.js?{{cache_id}}"></script>
     <script type="text/javascript" src="../static/scripts/header.js?{{cache_id}}"></script>
 </head>
 <body>
     <header>
         <div class="logo"><img src="/static/images/Logo-2.png"></div>

         <div class="topnav" id="myTopnav">
            <form class="myform">
                <input type="search" name="pt" placeholder="Search CrossMe" class="mysearchin">
                <button type="button" id="mysearch"><img src="/static/images/search.png" class="imgsearch"></button>
            <form>
             <a href="/logout">Log Out</a>
             <a href="/settings">Settings</a>
             <a href="/me">Profile</a>
             <a href="/">Home</a>
             <a href="javascript:void(0);" class="icon" onclick="myFunction()">
               <img src="/static/images/header.png" alt="image" class="myheaderimg">
             </a>
         </div>
     </header>
     <article class="mybody">

         <div id="myuser_id" hidden>{{ user_info.id }}</div>

                <div class="mypost" id="newpost">
                    <form id="usrform">
                        <input type="text" name="text" class="mytext" id="mystatus" placeholder="Write something...">
                        <input type="file" id="selectedFile" name="image" accept="image/*" class="myimport">
                        <input type="button" value="Share Now" class="subbtn">
                    </form>
                </div>

         {% if ten_post is not none %}
            {% for post in ten_post %}
                    <div class="mypost" id="{{ post.id }}">
                        {% if post.post_source == "FACEBOOK" %}
                            <div class="postsource" id="fromfb">
                                <img src="/static/images/fb.png" alt="fb" class="smico">
                            </div>
                        {% elif post.post_source == "Instagram" %}
                            <div class="postsource" id="fromig">
                                <img src="/static/images/ig.png" alt="ig" class="smico">
                            </div>
                        {% else %}
                            <div class="postsource" id="fromcm">
                            </div>
                        {%endif %}

                        <div class="creatorinfo">
                            <img src="{{ post.user_avatar }}" alt="profilepic" class="postimage">
                            <section class="name">
                                <a href="/profile/{{ post.user_id }}"><h2>{{ post.full_name }}</h2></a>
                                <h4>{{ post.creation_date }}</h4>
                            </section>
                        </div>

                        <div class="postinfo">
                            <div class="message">
                                {% if post.post_text != "NULL" %}
                                    <p>{{ post.post_text }}</p>
                                {%endif %}
                                {% if post.media_url is not none %}
                                    <img src="{{ post.media_url }}" alt="postimage" class="postimage">
                                {%endif %}
                            </div>


                        </div>

                        <div id="post.user_id" hidden>{{ post.user_id }}</div>

                        <div class="reaction">
                                <div class="like">
                                    <span class="rect1">
                                        {% set my_string = 'like' %}
                                        {% if post.react_status == "0" %}
                                            <button type="button" class="heart" id="{{ post.id + my_string }}" alt="{{ post.id }}" title="{{ post.user_id }}"></button>
                                        {%endif %}
                                        {% if post.react_status == "1" %}
                                            <button type="button" class="likedheart" id="{{ post.id + my_string }}" alt="{{ post.id }}" title="{{ post.user_id }}"></button>
                                        {%endif %}
                                    </span>


                                    {% set num = 'num' %}
                                    {% if post.number_of_reaction != "0" %}
                                        <span class="rect1">
                                            <div class="likenum" id="{{ post.id + num }}">
                                                <div class="liked">
                                                    <h1>{{ post.number_of_reaction }}</h1>
                                                </div>
                                            </div>
                                        </span>
                                    {% else %}
                                        <span class="rect1">
                                            <div class="likenum" id="{{ post.id + num }}"></div>
                                        </span>
                                    {%endif %}
                                </div>
                        </div>




                    </div>
            {% endfor %}
         {%endif %}

         <div class="loadmore">
             <button type="button">Load More ...</button>
         </div>


     </article>
     <footer>
         <div class="myfoot">
             <p>About us</p>
         </div>
     </footer>
 </body>
 </html>
