<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CrossMe</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/my.css?{{ cache_id }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/footer.css?{{ cache_id }}">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../static/scripts/index.js?{{ cache_id }}"></script>
    <script type="text/javascript" src="../static/scripts/register.js?{{ cache_id }}"></script>
</head>
<body>
    <header>
  <nav class="navbar">
    <div class="content">
      <div class="logo">
        <a href="#">CrossMe</a>
      </div>
      <ul class="menu-list">
        <div class="icon cancel-btn">
          <i class="fas fa-times"></i>
        </div>
        <form class="myform" action="/action_page.php">
        <input type="text" placeholder="Search CrossMe">
      <button type="submit"><i class="fa fa-search"></i></button>
        </form>
        <li><a href="#">Home</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
      <div class="icon menu-btn">
        <i class="fas fa-bars"></i>
      </div>
    </div>
  </nav>
    </header>
        <div id="content">{% block content %}{% endblock %}</div>
        <br>
                <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


    <footer>      {% block footer %}

        <div class="myfoot">
            <p>Powered by Foued Lamine And Taha Elleuch</p>
        </div>
              {% endblock %}

    </footer>
</body>
</html>