<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CrossMe</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/my.css?{{ cache_id }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/footer.css?{{ cache_id }}">
    <link rel="stylesheet" type="text/css" href="../static/styles/profile_header.css?{{cache_id}}">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../static/scripts/index.js?{{ cache_id }}"></script>
    <script type="text/javascript" src="../static/scripts/register.js?{{ cache_id }}"></script>
    <script type="text/javascript" src="../static/scripts/header.js?{{cache_id}}"></script>
</head>
<body>
    <header>
        <div class="logo"><p>CrossMe</p></div>
        <div class="topnav" id="myTopnav">

            <a href="/search">Search</a>
            <a href="/me">Profile</a>
             <a href="/">Home</a>
             <a href="javascript:void(0);" class="icon" onclick="myFunction()">
               <img src="/static/images/header.png" alt="image" class="myheaderimg">
             </a>
        </div>
    </header>
        <div id="content">{% block content %}{% endblock %}</div>
    <div class="container"> </div>

    <div class="container"> user 1 </div>
    <div class="container"> user</div>

    <div class="container"> user</div>
    <div class="container"> user</div>
    <div class="container"> user</div>


    <footer>      {% block footer %}

        <div class="myfoot">
            <p>Powered by Foued Lamine And Taha Elleuch</p>
        </div>
              {% endblock %}

    </footer>
</body>
</html>