<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user_info.full_name }}</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/profile_header.css?{{cache_id}}">
    <link rel="stylesheet" type="text/css" href="../static/styles/profile_body.css?{{cache_id}}">
    <link rel="stylesheet" type="text/css" href="../static/styles/my_footer.css?{{ cache_id }}">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../static/scripts/my_profile.js?{{cache_id}}"></script>
    <script type="text/javascript" src="../static/scripts/follow.js?{{cache_id}}"></script>
</head>
<body>
    <header>
        <div class="logo"><p>CrossMe</p></div>
    </header>
    <article class="mybody">



        <div class="profileinfo">
            <img src="{{ user_info.user_avatar }}" alt="profilepic" class="myimage">
            <h1>{{ user_info.full_name }}</h1>
            <div class="acounts">
                {% if user_info.fb_access_token is not none %}
                    <img src="/static/images/fb.png" alt="fb" class="smico">
                {%endif %}
                {% if user_info.ig_access_token is not none %}
                    <img src="/static/images/ig.png" alt="ig" class="smico">
                {%endif %}
            </div>
            {% if follow_code != "9" %}
                <div class="followplace">
                    <button type="button" class="followbtn" alt="{{ follow_code }}">
                        {% if follow_code == "0" %}
                            + Follow
                        {%endif %}
                        {% if follow_code == "1" %}
                            Followed
                        {%endif %}
                        {% if follow_code == "2" %}
                            Follow Back
                        {%endif %}
                        {% if follow_code == "3" %}
                            You
                        {%endif %}

                        <p>{{ number_of_followers }} Followers</p>
                    </button>
                </div>
            {%endif %}
            <div id="myuser_id" hidden>{{ user_info.id }}</div>
        </div>

        <div class="posts">

            {% if is_user == "ok" %}
                <div class="mypost" id="newpost">
                    <form id="usrform">
                        <input type="text" name="text" class="mytext" id="mystatus" placeholder="Write something...">
                        <input type="file" id="selectedFile" name="image" accept="image/*" class="myimport">
                        <input type="button" value="Share Now" class="subbtn">
                    </form>
                </div>
            {%endif %}
            {% if all_user_post is not none %}
                {% for post in all_user_post %}
                    <div class="mypost" id="{{ post.id }}">
                        {% if post.post_source == "FACEBOOK" %}
                            <div class="postsource" id="fromfb">
                                <img src="/static/images/fb.png" alt="fb" class="smico">
                            </div>
                        {% elif post.post_source == "Instagram" %}
                            <div class="postsource" id="fromig">
                                <img src="/static/images/ig.png" alt="ig" class="smico">
                            </div>
                        {% else %}
                            <div class="postsource" id="fromcm">
                            </div>
                        {%endif %}

                        <div class="creatorinfo">
                            <img src="{{ user_info.user_avatar }}" alt="profilepic" class="postimage">
                            <section class="name">
                                <h2>{{ user_info.full_name }}</h2>
                                <h4>{{ post.creation_date }}</h4>
                            </section>
                            {% if is_user == "ok" %}
                                <button class="delpost" alt="{{ post.id }}">X</button>
                            {%endif %}
                        </div>

                        <div class="postinfo">
                            <div class="message">
                                {% if post.post_text != "NULL" %}
                                    <p>{{ post.post_text }}</p>
                                {%endif %}
                                {% if post.media_url is not none %}
                                    <img src="{{ post.media_url }}" alt="postimage" class="postimage">
                                {%endif %}
                            </div>


                        </div>
                    </div>

                {% endfor %}
            {%endif %}

    </article>
    <footer>
        <div class="myfoot">
            <p>About us</p>
        </div>
    </footer>
</body>
</html>
