<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/profile_header.css?{{cache_id}}">
    <link rel="stylesheet" type="text/css" href="../static/styles/profile_body.css?{{cache_id}}">
    <link rel="stylesheet" type="text/css" href="../static/styles/my_footer.css?{{ cache_id }}">
</head>
<body>
    <header>
        <div class="logo"><p>CrossMe</p></div>
    </header>
    <article class="mybody">

        

        <div class="profileinfo">
            <img src="/Users/tahaelleuch/signuptest/MVP_CrossMe/web_front/static/images/default-user-image.png" alt="profilepic" class="myimage">
            <h1>Taha Elleuch</h1>
            <div class="acounts">
                <img src="/Users/tahaelleuch/signuptest/MVP_CrossMe/web_front/static/images/fb.png" alt="fb" class="smico">
                <img src="/Users/tahaelleuch/signuptest/MVP_CrossMe/web_front/static/images/ig.png" alt="ig" class="smico">
            </div>
        </div>

        <div class="posts">

            <div class="mypost" id="newpost">
                <form action="/action_page.php" id="usrform">
                    <input type="text" name="text" class="mytext" placeholder="Write something...">
                    <input type="file" id="selectedFile" name="img" accept="image/*" class="myimport">
                    <input type="submit" value="Share Now" class="subbtn">
                </form>
            </div>


            <div class="mypost">
                <div class="postsource" id="fromfb">
                    <img src="/Users/tahaelleuch/signuptest/MVP_CrossMe/web_front/static/images/fb.png" alt="fb" class="smico">
                </div>

                <div class="creatorinfo">
                    <img src="/Users/tahaelleuch/signuptest/MVP_CrossMe/web_front/static/images/default-user-image.png" alt="profilepic" class="postimage">
                    <section class="name">
                        <h2>Taha Elleuch</h2>
                        <h4>2019-01-02 18:24:58</h4>
                    </section>
                    <button class="delpost" alt="delete post">X</button>
                </div>

                <div class="postinfo">
                    <div class="message">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                    </div>
                </div>
            </div>

            <div class="mypost">
                <div class="postsource" id="fromig">
                    <img src="/Users/tahaelleuch/signuptest/MVP_CrossMe/web_front/static/images/ig.png" alt="fb" class="smico">
                </div>

                <div class="creatorinfo">
                    <img src="/Users/tahaelleuch/signuptest/MVP_CrossMe/web_front/static/images/default-user-image.png" alt="profilepic" class="postprofile">
                    <section class="name">
                        <h2>Taha Elleuch</h2>
                        <h4>2019-12-28 17:41:43</h4>
                    </section>
                    <button class="delpost" alt="delete post">X</button>
                </div>

                <div class="postinfo">
                    <div class="message">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                        <img src="https://scontent.fnbe1-1.fna.fbcdn.net/v/t1.0-9/p960x960/80453280_101000878092272_1182228785181753344_o.jpg?_nc_cat=108&_nc_sid=7aed08&_nc_ohc=k9zkIVmwGYQAX-KqzgV&_nc_ht=scontent.fnbe1-1.fna&tp=6&oh=c919939fd3d7f46e7ca81d001eb87cb3&oe=5FB12690" alt="postimage" class="postimage">
                    </div>
                </div>
            </div>

            <div class="mypost">
                <div class="postsource" id="fromfb">
                    <img src="/Users/tahaelleuch/signuptest/MVP_CrossMe/web_front/static/images/fb.png" alt="fb" class="smico">
                </div>

                <div class="creatorinfo">
                    <img src="/Users/tahaelleuch/signuptest/MVP_CrossMe/web_front/static/images/default-user-image.png" alt="profilepic" class="postprofile">
                    <section class="name">
                        <h2>Taha Elleuch</h2>
                        <h4>2019-12-28 17:41:43</h4>
                    </section>
                    <button class="delpost" alt="delete post">X</button>
                </div>

                <div class="postinfo">
                    <div class="message">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                        <img src="https://scontent.fnbe1-1.fna.fbcdn.net/v/t1.0-9/p960x960/80453280_101000878092272_1182228785181753344_o.jpg?_nc_cat=108&_nc_sid=7aed08&_nc_ohc=k9zkIVmwGYQAX-KqzgV&_nc_ht=scontent.fnbe1-1.fna&tp=6&oh=c919939fd3d7f46e7ca81d001eb87cb3&oe=5FB12690" alt="postimage" class="postimage">
                    </div>
                </div>
            </div>

        </div>



    </article>
    <footer>
        <div class="myfoot">
            <p>About us</p>
        </div>
    </footer>
</body>
</html>