<html><head></head><body><table cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
<td align="center">
<table cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
<td align="left">
<table width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="center" valign="top">
<table role="presentation" width="100%" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td align="center">&nbsp;</td>
</tr>
<tr>
<td style="font-family: Satisfy, cursive; margin-top: -10px; font-size: 300%; color: #ff5757;" align="center">CrossMe
<table role="presentation" border="0" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table style="width: 564.8px;" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
<td style="width: 560.8px;" align="center">
<table cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
<td align="left">
<table width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="center" valign="top">
<table role="presentation" width="100%" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td align="left" bgcolor="#ffffff">
<p>Welcome, {{user}} &nbsp;</p>
<p>We're excited to have you get started. First, you need to confirm your account. Just press the button below.</p>
<p>&nbsp;</p>
</td>
</tr>
<tr>

<td   align="center"><a href="{{ 'https://0.0.0.0:5000/confirmation/' ~ token.id}}" ><button style="
    background: #ff5a5f;
    color: #ffffff;
    border-radius: 5px;
    border-style: none;
    font-size: 12px;
    width: 30%;
    text-align: center;
    height: 3em;
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    " type="button">Confirm</button></a></td>
</tr>
<tr>
<td align="left">
<p>If that doesn't work, copy and paste the following link in your browser:</p>
<p href={{ 'https:/0.0.0.0:5000/confirmation/' ~ token.id}}>{{ 'https://0.0.0.0:5000/confirmation/' ~ token.id}}</p>
</td>
</tr>
<tr>
<td align="left">&nbsp;</td>
</tr>
<tr>
<td align="left">
<p>If you have any questions, just reply to this email—we're always happy to help out.</p>
</td>
</tr>
<tr>
<td align="left">
<p>Cheers, Crossme</p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table></body></html>