<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <title>CrossMe</title>
     <link rel="icon" type="image/png" href="/static/images/favicon.png"/>
     <link rel="stylesheet" type="text/css" href="../static/styles/profile_body.css?{{cache_id}}">
    <link rel="stylesheet" type="text/css" href="../static/styles/my.css?{{ cache_id }}">
    <link rel="stylesheet" type="text/css" href="../static/styles/footer.css?{{ cache_id }}">
    <link rel="stylesheet" type="text/css" href="../static/styles/profile_header.css?{{cache_id}}">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../static/scripts/index.js?{{ cache_id }}"></script>
    <script type="text/javascript" src="../static/scripts/register.js?{{ cache_id }}"></script>
    <script type="text/javascript" src="../static/scripts/searchfollow.js?{{cache_id}}"></script>
    <script type="text/javascript" src="../static/scripts/header.js?{{cache_id}}"></script>
</head>
<body>
    <header>

        <div class="logo"><img src="/static/images/Logo-2.png"></div>

        <div class="topnav" id="myTopnav">
            <form class="myform" method="POST">
                <input type="search" name="pt" placeholder="Search CrossMe" class="mysearchin">
                <button type="submit" id="mysearch"><img src="/static/images/search.png" class="imgsearch"></button>
            <form>
            <a href="/logout">Log Out</a>
             <a href="/settings">Settings</a>
            <a href="/me">Profile</a>
             <a href="/">Home</a>
                <a href="javascript:void(0);" id="notif" class="closed">
               <img src="/static/images/notif.png" class="notifimg">
               <p>1</p>
             </a>
             <a href="javascript:void(0);" class="icon" onclick="myFunction()">
               <img src="/static/images/header.png" alt="image" class="myheaderimg">
             </a>

        </div>
    </header>
              <div class="header-helper"></div>
    <div class="notifpopup">
     </div>

     {% if result is none %}
    <div class="container"> No user Found  </div>
    {% elif result == [] %}
    <div class="container"> No user Found  </div>
    {% else %}
    {% for i in result %}
    
    <div class="container"> 
    <div class="avat"> <img src={{i.user.user_avatar}} class="imageprofile"> </div>
    <div class="userfullname"><a href="/profile/{{i.user.id}}"> {{i.user.full_name}}</a></div>
      {% if i.status == "no" %}
    <button type="button" alt="{{i.user.id}}" id="{{i.user.id}}" class="follow-button">+ Follow</button>

    <button hidden type="button" alt="{{i.user.id}}" id="{{ 'hi' ~ i.user.id}}"  class="follwed">Followed </button>	
        {% else %}
          <button type="button" alt="{{i.user.id}}" id="{{ 'hi' ~ i.user.id}}"  class="follwed">Followed</button>	
    <button  type="button" hidden alt="{{i.user.id}}" id="{{i.user.id}}" class="follow-button">+ Follow</button>
        {% endif %}

    </div>
    {% endfor %}
    {% endif %}



    <footer>      {% block footer %}

        <div class="myfoot">
            <p>Powered by Foued Lamine And Taha Elleuch</p>
                          <div id="myuser_id" hidden>{{ me }}</div>
        </div>
              {% endblock %}

    </footer>
</body>
</html>