<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CrossMe</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/my.css?{{ cache_id }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/footer.css?{{ cache_id }}">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../static/scripts/index.js?{{ cache_id }}"></script>
    <script type="text/javascript" src="../static/scripts/register.js?{{ cache_id }}"></script>
    <script type="text/javascript" src="../static/scripts/searchfollow.js?{{cache_id}}"></script>
</head>
<body>
    <header>
  <nav class="navbar">
    <div class="content">
      <div class="logo">
        <a href="#">CrossMe</a>
      </div>
      <ul class="menu-list">
        <div class="icon cancel-btn">
          <i class="fas fa-times"></i>
        </div>
        <form class="myform" method="POST">
        <input type="text" name="pt" placeholder="Search CrossMe">
      <button type="submit"><i class="fa fa-search"></i></button>
        </form>
        <li><a href="/">Home</a></li>
        <li><a href="/me">Profile</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
      <div class="icon menu-btn">
        <i class="fas fa-bars"></i>
      </div>
    </div>
  </nav>
    </header>
     {% if result is none %}
    <div class="container"> No user Found  </div>
    {% elif result == [] %}
    <div class="container"> No user Found  </div>
    {% else %}
    {% for i in result %}
    
    <div class="container"> 
    <div class="avat"> <img src={{i.user.user_avatar}} class="imageprofile"> </div>
    <div class="userfullname"><a href="/profile/{{i.user.id}}"> {{i.user.full_name}}</a></div>
      {% if i.status == "no" %}
    <button alt="{{i.user.id}}" id="{{i.user.id}}" class="follow-button">+ Follow</button>

    <button hidden alt="{{i.user.id}}" id="{{ 'hi' ~ i.user.id}}"  class="follwed">Followed </button>	
        {% else %}
          <button alt="{{i.user.id}}" id="{{ 'hi' ~ i.user.id}}"  class="follwed">Followed</button>	
    <button hidden alt="{{i.user.id}}" id="{{i.user.id}}" class="follow-button">+ Follow</button>
        {% endif %}

    </div>
    {% endfor %}
    {% endif %}



    <footer>      {% block footer %}

        <div class="myfoot">
            <p>Powered by Foued Lamine And Taha Elleuch</p>
                          <div id="myuser_id" hidden>{{ me }}</div>
        </div>
              {% endblock %}

    </footer>
</body>
</html>